:root{
    --font-primary: "Inter", sans-serif;
    --color-primary: #4dd653;
    --color-secondary: #26A69A;
    --color-alt: #00796B;
    --color-black: #1D1D1B;
}

body{
    font-family: var(--font-primary);
    color: var(--color-black);
    line-height: 125%;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    background-color: #f6f9ff;
}

.container-background{
    background: linear-gradient(to right bottom, var(--color-alt), var(--color-secondary) 20%, var(--color-primary));
}

a{
    color: var(--color-black);
    text-decoration: none;
}

a:hover{
    color: var(--color-primary);
}

.anim, .anim :where(path,circle, line,rect,span,strong,p){
    transition: all .2s ease-in-out;
}

.anim-slow{
    transition: all .4s ease-in-out;
}

img{
    max-width: 100%;
}

.ml-auto{
    margin-left: auto;
}

.mr-auto{
    margin-right: auto;
}

.control-label{
    margin-bottom: 0.2rem;
}

.help-block{
    margin-top: 5px;
    color: #dc3545;
    font-weight: 700;
}

.cke_notifications_area{
    display: none !important;
}

.select2-container--krajee-bs5 .select2-results__option--highlighted[aria-selected]{
    background-color: var(--color-primary);
}